<ion-header>
  <ion-toolbar color=#fff>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirCarrinho()" #carrinho>
      <div class="carrinho-length">{{quantidadeItensCarrinho | async}}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let p of produtos">
    <ion-card-header>
      <ion-card-title>{{p.nomeProduto}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-align-itens-center">
        <ion-col size="8">
          <ion-label color="secondary">
            <b>{{p.precoProduto | currency: 'R$ '}}</b>
          </ion-label>
        </ion-col>
        <ion-col size="4" class="ion-text-right"> 
          <ion-button fill="clear" (click)="adicionarAoCarrinho(produto)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
